<h1>Leet Speak</h1>

<p>Enter a phrase and will turn into leet speak.</p>

<form action='/translator' method='get'>
  <div class="form-group">
    <label for="userLetter">Letter</label>
    <input id="$userLetter" name="userLetter" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Play Leet Speak</button>
</form>
